/*CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: white;

}


.wrapper {

    max-width: 1440px;
    margin: 0 auto !important;
    height: auto;

}

.navbar {
    display: flex;
    background: #4fc0d4 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: auto !important;
    width: inherit !important;
    color: white !important;
}


.navbar-brand img {
    float: left !important;
}

.navbar-brand h2 {
    color: black;
}

.nav-link,
.navbar-brand {
    color: #fff !important;
    cursor: pointer !important;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000 !important;
}

.navbar-collapse {
    padding-left: 150px !important;

}

table{
    margin: 50px;
    
    background-color: white;
    clear: both;
    width: max-content !important;
    
}
th{
    text-align: center !important;
    text-transform: uppercase !important;
    background-color: #26adc5 !important;
    /* color: white !important; */
}
tr{
    text-align: left;
}
table,th,td {
    border : 1px solid #4cc0d4;
    font-family: helvetica;
    border-collapse: collapse;
    
  }
  th,td {
    padding: 15px 8px !important;
  }
  .button-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
  .details{
    background:linear-gradient(to bottom right, black,#3c7883,black);
    padding: 50px 0px !important;
  }

  .btn-secondary{
      margin: 20px;
      background-color: rgb(0, 0, 0) !important;
      border: none !important;
      box-shadow: none !important;
      color:white;
  }
  .btn-secondary:hover{
      
      border: 1px solid white !important;
  }

  .alertText{
      color: red;
  }

  .search-wrapper{
      margin: 50px !important;
  }
  .search-wrapper h2{
     float: left;
     color: white;
  }
   .search-wrapper input.search-input {
    width: 300px;
    margin-left: 20px;
    float: left;
}
.mt32 {
    margin-top: 32px;
}
@media (max-width: 500px) {

    .navbar-brand img {
        width: 40px !important;
        height: 30px !important;
        margin-right: 10px !important;
    }

    .nav-link {
        text-align: center !important;
    }

    .navbar-collapse {
        padding-left: 0px !important;
    }

}